{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <!-- Link from local minified files -->
    <!-- <link rel="stylesheet" href={% static 'jquery.min.js' %}> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <!-- Popper -->
    <!-- Link from local minified files -->
    <!-- <link rel="stylesheet" href={% static 'popper.min.js' %}> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" defer></script>
    <!-- Bootstrap CSS -->
    <!-- Link from local minified files -->
    <!-- <link rel="stylesheet" href={% static 'bootstrap.min.css' %}> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Bootstrap JS -->
    <!-- Link from local minified files -->
    <!-- <link rel="stylesheet" href={% static 'bootstrap.min.js' %}> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" defer></script>
    <!-- Custom CSS and JS -->
    <link rel="stylesheet" href={% static 'style.css' %}>

    <title>Clever-Cards | {% block title %}{% endblock title %}</title>

    {% block scripts %}
    {% endblock scripts %}
</head>
<body>
    <div class="container mt-3">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>